.out{
   background-color:brown;
    border: dotted blue;
    padding: 50px;
    margin: 10%;
    
}
.in{
    border: solid black;
    padding: 20px;
    margin: 5%;
    
    background-color: blueviolet;
}
p{
    padding: 150px 200px 
    font-size: large;
}